{% extends "base.html" %}

{% block content %}
<h2>Mon profil</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.fullname.label }}<br>
        {{ form.fullname(size=32) }}
        {% for error in form.fullname.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.mail.label }}<br>
        {{ form.mail(size=32) }}
        {% for error in form.mail.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>{{ form.submit() }}</div>
</form>
<p><a href="{{ url_for('user.change_password') }}">Changer mon mot de passe</a></p>
{% endblock %}